html, body {
    height: 100%;
    background-image: url("Lakeside\ General\ storefront.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


div {
    color: whitesmoke;
}
.a:hover {
    color: rgb(106, 173, 106);
}

a{  
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

ul {
    list-style:none;
}






